
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Megrim&family=Montserrat+Alternates:wght@600&family=Syncopate:wght@700&display=swap');

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}

h1 {
  margin: 0 auto;
  width:375px;
  padding: 24px;
  color: yellowgreen;
  border: thick double ;
  font-family: 'Montserrat Alternates', sans-serif;
  background: whitesmoke;
  height: fit-content;
  text-align: center;
  
}

body {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    background-color: gainsboro;
}