

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Work+Sans:wght@300&display=swap');

html, body{
  margin: 0;
  padding: 0;
}
* {box-sizing: border-box;
  }

img {
  width: 100%;
  height: auto;
  } 


header {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0;
  font-family: 'Pt Serif', sans-serif;
  height: fit-content;
  
}
footer {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px;
  height: fit-content;
}

h1 {
  margin: 0 auto;
  padding: 16px;
  margin-bottom: 24;
  color: slategray;
  font-family: 'PT Serif', sans-serif;
  text-align: center;
}
h1 {
  overflow: hidden;
  text-align: center;
 }
 h1:before,
 h1:after {
  background-color: #333;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
 }
 h1:before {
  right: 0.5em;
  margin-left: -50%;
 }
 h1:after {
  left: 0.5em;
  margin-right: -50%;
 }

h2,h3 {

    margin: 0 auto;
    padding: 16px;
    margin-bottom: 24;
    color: lightslategray;
    font-family: 'PT Serif', sans-serif;
    text-align: center;
}

p{
  
  margin: 0 auto;
  padding: 16px;
  margin-bottom: 24;
  color: black;
  font-family: 'PT Serif', sans-serif;
  text-align: center;
}
.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  text-decoration: transparent;
}

main.aboutinfo {
  font-family: 'Abel', sans-serif;
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
 
}

html.floral-html{

  background-image: url(Images/DSC_0164.JPG);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

html.home-html{

  background-image: url(Images/DSC_0218\ copy.JPG);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
html.about-html{
  
  background-image: url(Images/Forest.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

html.art-html {

  background-image: url(Images/ItalySky.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

html.contact-html {
  
  background-image: url(Images/iceland.JPG);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  
}
.cover-title{
  font-size: xx-large;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

main.about-image {
  width: 300px;
  float: left;
}
.menu-trigger {
  background: whitesmoke;
  color: rgb(185, 238, 164);
  border: 1px solid #a4e2be;
  
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}


@media (min-width: 1080px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  header,
  footer {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  main {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .flower-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    
  } 
  .nav {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

.aside-menu {
  display: none;
}


