

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Work+Sans:wght@300&display=swap');


html, body{
  margin: 0;
  padding: 0;
  }
* {box-sizing: border-box;
  }
img {
  width: 100%;
  height: auto;
  }

header {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  height: fit-content;

  

}
footer {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0;
  font-family:'Work Sans', sans-serif;
  height: fit-content;
  
  
}
h1,h2 {
  margin: 0 auto;
  padding: 16px;
  margin-bottom: 24;
  color: yellowgreen;
  font-family: 'Work Sans', sans-serif;
 
  text-align: center;
  
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;

}

body.index-page {
  background-image: url(images/DSC_0164.JPG);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
body.about-page {
  background-image: url(images/DSC_0218\ copy.JPG);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  
}

@media (min-width: 1080px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  header,
  footer {
    grid-column-start: 1;
    grid-column-end: 5;
    background: #fff;
  }
  main {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .flower-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  } 
}

.aside-menu {
  display: none;
}
